.connected {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-connected {
    padding:0 2.5rem;
    margin:1rem;
    background:#87CEFA;
    cursor:pointer;
    border:0;
    border-radius:.3rem;
}

.button-connected:hover {
    background: #87C5FA;
}


.user-page {
    width:clamp(500px, 70vw + 1rem, 900px);
    height:clamp(400px, 65vh + 1rem, 700px);
    border-radius:1rem;
    margin:0 auto;
    position:relative;
    top:1rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    font-size:2rem;
    align-items:center;
    margin-bottom:3rem;
    background: #87CEFA;
}

.user-page h2, .user-page h3 {
    margin:0;
}

.user-page a {
    display:inline-block;
    border-bottom: .2rem solid transparent;
}

.user-page a:hover {
    color:#87CEFA;
    cursor:pointer;
    border-bottom: .2rem solid #87CEFA;
}