.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.info {
  font-size: 1.2rem;
  font-weight: 500;
  margin:0 1rem;
  padding:0 1rem;
  border-radius:2rem;
  display:flex;
  flex-direction:row;
  text-align:justify;
  background:#87CEFA;
}

.last-list {
  margin-left:1rem;
}


.logo-polytech {
  width:clamp(50px, 40vw + 5rem, 500px);
  height:clamp(50px, 40vh + 5rem, 500px);
  aspect-ratio: 1;
  padding:2rem 1rem 0 3rem;
}

.home-flex {
  display:flex;
  flex-direction:row;
  margin-left:2rem;
}

.submit-home {
  margin-left:.3rem;
  height:2.28rem;
  transform:translateY(46%);
}

.input-home {
  height:2.3rem;
  border-radius:.5rem;
  width:clamp(7rem, 35vw + 2rem, 20.5rem);
  font-size:1.5rem;
  margin-top:0rem;
  transform:translateY(45%);
  margin-left:.5rem;
  background: #87CEFA;
  border:0;
  border-radius:.3rem;
  margin-bottom:1.5rem;
}

.input-home:hover, .submit-home:hover {
  background: #87C5FA;
}

.submit-home {
  background: #87CEFA;
  border:0;
  border-radius:.3rem;
  cursor:pointer;  
}

.home-flex h2 {
  white-space: nowrap;
}
