.list-list {
    list-style-type: none; 
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    padding:0 3rem;
    gap:2rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}