.listitem {
    background:#87CEFA;
    border-radius:1rem;
    padding:.2rem 1.5rem;
    font-weight:600;
}

.stats {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:1rem;
}

.home {
    margin:0 1rem;
    margin-bottom:1rem;
}

.listitem h2 {
    display:inline-block;
    border-bottom: .2rem solid transparent;
}

.listitem h2:hover {
    color:white;
    cursor:pointer;
    border-bottom: .2rem solid #87CEFA;
}

a {
    color:black;
}