.list-view {
    width:clamp(20rem, 95vw + 1rem, 1500px);
    height:clamp(15rem, 75vh + 1rem, 900px);
    border-radius:1rem;
    margin:0 auto;
    position:relative;
    top:2rem;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    font-size:2rem;
    align-items:center;
    background:#87CEFA;
    overflow:auto;
}

.infos-view {
    display:flex;
    flex-direction: row;
    gap:5rem;
}

.modif {
    width:7rem;
    margin-bottom:.5rem;
}

@media screen and (max-width: 600px) {
    .infos-view {
        gap:0;
        flex-direction:column;
        justify-content:flex-start;
    }
}