.listitem {
    border-radius:1rem;
    padding:.2rem 1.5rem;
    font-weight:600;
    height:100%;
    position:relative;
}

.stats {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:1rem;
}

.home {
    margin:0 1rem;
    margin-bottom:1rem;
}

.listitem h2 {
    display:inline-block;
    border-bottom: .2rem solid transparent;
}

.blue-link:hover {
    color:white;
    cursor:pointer;
    border-bottom: .2rem solid #87CEFA;
}

a {
    color:black;
}

.flex-listitem {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.cross:hover .listitem-vertical, 
.cross:hover .listitem-horizontal {
    background:white;
} 

.listitem-vertical {
    background:black;
    width:10%;
    height:80%;
    border-radius:.5rem;
}

.listitem-horizontal {
    background:black;
    width:80%;
    height:10%;
    border-radius:.5rem;   
}

.listitem-vertical, .listitem-horizontal{
    position:absolute;
    inset:0;
    margin: auto;
}

.cross {
    position:relative;
    width:3rem;
    height:3rem;
    transform:rotate(45deg) translate(20%, 20%);
    cursor:pointer;
}

.cross-flex .little-text {
    position:absolute;
    transform:translate(-95%, -120%);
    width:10rem;
}

.tick-validation {
    position:absolute;
    width:1.75rem;
    height:1rem;
    transform:rotate(-45deg) translate(40%, 20%);
    cursor:pointer;
    border:5px solid black;
    right:2.65rem;
    top:5.5rem;
    border-right:transparent;
    border-top:transparent;
}

.tick-validation:hover {
    border:5px solid white;
    border-right:transparent;
    border-top:transparent;
}

.red {
    background:#DC143C;
}

.red:hover {
    background:#ac0a2b;
}

.blue {
    background:#87CEFA;
}

.blue:hover {
    background:#87C5FA;
}

.transparent {
    color:transparent;
}