.select {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:.5rem;
    padding:1rem 0 0 1rem;
}

.select-input {
    width:clamp(2rem, 20vw + 1rem, 25rem);
    font-size: 1.5rem;
    border-radius:.4rem;
}

.input-user3 {
    height:2.3rem;
    border-radius:.5rem;
    width:clamp(12rem, 45vw + 2rem, 20.5rem);
    font-size:1.5rem;
    margin-top:0rem;
}